// Définit de quoi auront l'air les modules ou les layouts dans un état particulier (caché, grossi, actif, inactif, verrouillé, glissé, sur la page principale, mobile...)
// Les états sont des classes qu'on additionnent aux modules ou aux layouts et dont le nom débute souvent par "is-" (ex: is-locked, is-dragged, is-active).
// Les états altèrent ne définissent pas complètement le visuel d'un module/layout, il ne font que l'altérer (écraser et/ou ajouter des propriétés)
// Il peut être possible d'y utiliser !important si nécessaire. Soyez parcimonieux.

.nav-wrapper .is-collapsed{
    left: -100vw;
    .burger{
        color: $myGrey;
    }
    @include mq(small){
        height: auto;
        left: 0;
        .burger{
            display: none;
        }
    }
}

.serie.is-favori{
            &::before{
                font-family: FontAwesome;
                content:"\f005";
                font-size: 1.2rem;
                position: absolute;
                top:.2rem;
                right:-9px;
                padding:.5em .7em;
                background-color:$mainOrange;
                z-index:3;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
}

.nav-wrapper.is-sticky{
    @include mq(small){
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.profil.is-sticky{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    background-color: $myDarkGrey;
    .img-profil{
        width: 70px;
    }
}

.actif{
    color: $almostWhite;
}